<div class="body">
  <div class="wrapper">
    @if (!this.graphqlService.user) {
    <div class="title">
      <h1>Welcome to todo web App</h1>
    </div>

    <div class="register">
      <a
        class="button"
        routerLink="/login"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Login</a>
      <a
        class="button"
        routerLink="/signin"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Signin</a>
    </div>
    } @else {
      <a
        class="button"
        routerLink="/logout"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Logout</a>
    } <router-outlet />
  </div>
</div>
