# Ignore les fichiers système
.DS_Store
Thumbs.db

# Ignore les fichiers spécifiques à l'environnement
.env

# Ignore les fichiers de données PostgreSQL
pgdata/

# Ignore les fichiers générés par Docker Compose
docker-compose.override.yml
docker-compose.yml

# Ignore les fichiers spécifiques à l'IDE (ajuster en fonction de votre IDE)
.idea/
.vscode/

# Ignore les fichiers de logs
*.log

# Ignore les fichiers de sauvegarde
*.bak
*.backup
*.sql.dump
